.signup-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.signup-page .form-section form {
    display: flex;
    flex-direction: column;
}

.signup-page .btn-section {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
